# URL del backend (para llamadas API)
# En desarrollo:
# VITE_API_URL=http://localhost:5000

# En producción:
VITE_API_URL=https://siatea.apure.gob.ve/backend
VITE_BACKEND_URL=https://siatea.apure.gob.ve/backend
